/* Variables   */

$font-title: "shrikhand";
$font-roboto: 'Roboto';
$green-light: #99E2D0;
$green-dark: #008766;
$blue-light: #89C8FA;
$blue-dark: #003A68;
$violet: #9356DC;
$rose:#FF79DA;
$white: white;
$grey:#EAEAEA;
$delay:3s;
$add: 0.2s;
$grey-light:#f6f6f6;
$grey-dark:#353535;
$black: black;
$btn-gradient:linear-gradient(193deg,$violet -11%,$rose 123%);
$gradient: linear-gradient(193deg,(rgba(147,86,200,1) -11%),(rgba(255,121,218,1) 124%));
/* media       */

$mediamobile :425px;
$mediaTablette : 750px;
$mediaComputer: 1024px;

